SQLALCHEMY_DATABASE_URI = 'sqlite:///job_store.db'

DEBUG = False
TESTING = False
SECRET_KEY = 'please_replace_me'
USERNAME = 'admin'
PASSWORD = 'pass'

HOST = '0.0.0.0'
PORT = 5000

NAME = 'datapusher'
